<div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SeatGeek</a> 
            </div>
 <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Import Data: &nbsp; <a href="https://ads.twitter.com/accounts/z1oix/campaigns_dashboard?start=1402804800&end=1403409600&product_type=all&summary_metric=impressions&metric_set=overview&campaigns_aspect=launched&user=SeatGeek&account=z1oix" class="btn btn-primary square-btn-adjust">Twitter</a> <a href="https://platform.mobileapptracking.com/#!/Advertiser/Reports/saved/12668" class="btn btn-primary square-btn-adjust">MAT</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="img/sg.png" class="user-image img-responsive"/>
                    </li>
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-3x"></i>  Dashboard </a>
                    </li>
                        <li  >
                        <a class="active-menu" href="graphs"><i class="fa fa-bar-chart-o fa-3x"></i>  Graphs </a>
                    </li> 
                      <li  >
                        <a  href="data"><i class="fa fa-table fa-3x"></i>  Data </a>
                    </li>
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Twitterlitics</h2>   
                        <h5>Twitter Reporting Dashboard</h5>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
             
                <div class="row"> 
                    
                      
                               <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Intalls (Last 30 Days)
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart"></div>
                        </div>
                    </div>            
                </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Revenue (Last 30 Days)
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                    </div>            
                </div> 
                
           </div>
                 <!-- /. ROW  -->
                <div class="row">                     
                      
                               <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            CPI (Last 30 Days)
                        </div>
                        <div class="panel-body">
                            <div id="morris-line-chart"></div>
                        </div>
                    </div>            
                </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Installs (YTD)
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                    </div>            
                </div> 
                
           </div>
                 <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>